<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.artviz.oilcheckr" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="eu.artviz.oilcheckr.activities.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.artviz.oilcheckr.activities.DetailActivity"
            android:label="@string/title_activity_detail"
            android:parentActivityName="eu.artviz.oilcheckr.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.artviz.oilcheckr.activities.HomeActivity" />
        </activity>
        <activity
            android:name="eu.artviz.oilcheckr.activities.UpdateMileageActivity"
            android:label="@string/title_activity_update_mileage" >
        </activity>
        <activity
            android:name="eu.artviz.oilcheckr.activities.AddVehicleActivity"
            android:label="@string/title_activity_add_vehicle"
            android:parentActivityName="eu.artviz.oilcheckr.activities.HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.artviz.oilcheckr.activities.HomeActivity" />
        </activity>
        <activity
            android:name="eu.artviz.oilcheckr.activities.OilChangeActivity"
            android:label="@string/title_activity_oil_change" >
        </activity>
        <activity
            android:name="eu.artviz.oilcheckr.activities.NewOilActivity"
            android:label="@string/title_activity_new_oil" >
        </activity>
    </application>

</manifest>
